*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html,body { 
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    /* background-color: grey; */
}

#nav{
    height: 100px;
    width: 100%;
    /* background-color: grey; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    padding: 0 30px;
}

#nav h4{
    font-size: 20px ;
    font-weight: 500;
}

#nav i{
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px;
    font-weight: 500;
    border-radius: 50%;
}

#center{
    width: 100%;
    /* background-color: brown; */
    padding: 20px 80px;
}

#center h1{
    /* font-size: 78px; */
    font-size: 4.1vw;
    font-weight: 400;
    line-height: 4.4vw;
    
}

#center-in{
    /* height: 200px; */
    width: 100%;
    /* background-color: red; */
    margin-top: 42px;
    display: flex;
    justify-content: space-between;
}

#center-in p{
    /* font-size: 22px; */
    font-size: 1.4vw;
    font-weight: 600;
    line-height: 1.8vw;

}

#right{
    width: 20%;

}
.elem{
    /* background-color: blue; */
    /* margin: 5px; */
    padding: 20px 0;
    border-top: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.elem i{
    font-size: 25px;
    font-weight: 500;
    opacity: 0;

}
.elem a{
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}

.elem:hover i{
    opacity: 1;

}

#bottom{
    height: 35%;
    width: 100%;
    /* background-color: red; */
    background-image: url(https://images.unsplash.com/photo-1534607287018-541c7d97748f?q=80&w=2525&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    
}

@media (max-width:600px){
    #nav{
        height: 60px;
        gap: 20px;
        padding: 0 25px;
    }
    #nav h4{
        font-size: 12px ;
        font-weight: 600;
        /* display: none; */
    }
    
    #nav i{
        background-color: black;
        color: white;
        font-size: 11px;
        padding: 6px;
        font-weight: 500;
        border-radius: 50%;
    }
    #center{
        width: 100%;
        /* background-color: brown; */
        padding: 15px 20px;
    }
    
    #center h1{
        /* font-size: 78px; */
        font-size: 10vw;
        font-weight: 500;
        line-height: 12vw;
        
    }
    
    #center-in{
        /* height: 200px; */
        width: 100%;
        /* background-color: red; */
        margin-top: 20px;
        display: flex;
        gap: 40px;
        flex-direction: column;
        justify-content: space-between;
    }
    
    #center-in p{
        /* font-size: 22px; */
        font-size: 3vw;
        font-weight: 600;
        line-height: 4.2vw;
    
    }
    
    #right{
        width: 100%;
    }
    .elem{
        /* background-color: blue; */
        /* margin: 5px; */
        padding: 10px 0;
        border-top: 1px solid #000;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .elem i{
        font-size: 14px;
        font-weight: 500;
        opacity: 1;
        color: #303030;
    
    }
    .elem a{
        color: #303030;
        text-decoration: none;
        font-weight: 600;
        font-size: 12px;
    }
    
    #bottom{
        height: 34.5%;
        width: 100%;
        background-image: url(https://images.unsplash.com/photo-1534607287018-541c7d97748f?q=80&w=2525&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
        background-size: cover;
        background-position: center;
        
}